@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

body {
    background-color: white;
}

.body-darkmode {
    background-color: #131212;
}

h1 {
    color: #333333;
    text-align: center;
    margin: 3%;
    margin-top: 0%;
}

.h1-darkmode {
    color: white;
}

h5 {
    color: #333333;
}

.h5-darkmode {
    color: white;
}

.upper-cont {
    background-color: #EEEEEE;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
}

.upper-cont-darkmode {
    background-color: #303030;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
}

.info-div {
    background-color: #DDDDDD;
    padding: 5%;
    border-radius: 10px;
    margin: 10px;
}

.info-div-darkmode {
    background-color: #222222;
    padding: 5%;
    border-radius: 10px;
    margin: 10px;
}

.listener-div {
    background-color: #DDDDDD;
    padding: 5%;
    border-radius: 10px;
    margin: 10px;
}

.listener-div-darkmode {
    background-color: #222222;
    padding: 5%;
    border-radius: 10px;
    margin: 10px;
}

#ip{
    margin: 0 5px 0 0;
}

#port {
    margin: 0 0 0 5px;
}

input, select {
    background-color: #EEEEEE;
    border: none;
    border-radius: 10px;
    color: #333333;
    padding: 10px;

}

.input-darkmode, .select-darkmode {
    background-color: #303030;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

::placeholder {
    color: #707070;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
    width: 80%;
    padding: 12px;
}

.listener-output {
    background-color: #DDDDDD;
    padding: 12px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 10px;
}

.listener-output-darkmode {
    background-color: #222222;
    padding: 12px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 10px;
}

code {
    color: #333333;
}

.code-darkmode {
    color: white;
}

 #generate-div {
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
    text-align: end;
}

.generate-btn {
    background-color: #0070cb;
    color: white;
    border: none;   
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    width: 100%;
}

.generate-btn-darkmode {
    background-color: #a50000;
    color: white;
    border: none;   
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    width: 100%;
}

.generate-btn:hover {
    background-color: #ffffff;
    color: black;
}

.language-selector {
    background-color: #DDDDDD;
    text-align: center; 
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 3%;
}

.language-selector-darkmode {
    background-color: #222222;
    text-align: center; 
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 3%;
}

.select-bash, .select-python3, .select-php, .select-perl {
    border: none;   
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 0.3s;
}

.select-bash-darkmode, .select-python3-darkmode, .select-php-darkmode, .select-perl-darkmode {
    background-color: #333333;
    color: white;
}

.select-bash:hover, .select-python3:hover, .select-php:hover, .select-perl:hover {
    background-color: #0070cb;
    color: white;
}

.select-bash-darkmode:hover, .select-python3-darkmode:hover, .select-php-darkmode:hover, .select-perl-darkmode:hover {
    background-color: #a50000;
    color: white;
}

.shell-output {
    background-color: #DDDDDD;
    padding: 12px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 3%;
}

.shell-output-darkmode {
    background-color: #222222;
    padding: 12px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 3%;
}

h3 {
    margin: 2%;
}

.h3-darkmode {
    color: #fff;
}

#int-div {
    padding: 0px;
    margin-bottom: 3%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    border-radius: 10px;
    background-color: #DDDDDD;
}

.tab-darkmode {
    background-color: #222222;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablinks-darkmode {
    color: #fff;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #0070cb;
    color: #fff;
}

.tab-darkmode button:hover {
    background-color: #a50000;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #0070cb;
    color: #fff;
}

.tab-darkmode button.active {
    background-color: #a50000;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    background-color: #DDDDDD;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 2%;
} 

.tabcontent-darkmode {
    background-color: #222222;
}

.none {
    display: none;
}

.footer {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer-darkmode {
    color: #fff;
}

.footer-darkmode a {
    color: #a50000;
}